.dashboard {
    display: flex;
    padding: 20px;
    background-color: black;
    height: 95vh;
}

.dashboardCenter {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50vw;
}

.searchForm {
    display: flex;
    align-self: center;
}
.searchBar {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    outline: none;
}

.songsContainer {
    display: flex;
    flex-direction: column;
    background-color: #101011;
    overflow-y: auto;
    overflow-x: clip;
    color: var(--myGrayFontColor);
    padding-bottom: 30px;
    position: relative;
}

.playerWrap {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60px;
    background-color: var(--myGray);
}

