.dashboard {
    display: flex;
    padding: 20px;
    height: 100vh;
    background-color: black;
}

.dashboardCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: antiquewhite;
}

.searchBar {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.songsContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--myGray);
    overflow-y: auto;

}

.playerWrap {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60px;
    background-color: var(--myGray);
}

