.dashboard {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
}
.searchBar {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.songContainer {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
}