.dashboard {
    display: flex;
    padding: 20px;
    background-color: black;
    height: 95vh;
}

.dashboardCenter {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50vw;
}

.searchForm {
    display: flex;
    align-self: center;
    justify-content: center;
}
.searchBar {
    display: flex;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    outline: none;
    width: 20%;
    transition: width 0.3s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 1.3rem;
}

.searchBar:focus {
    width: 30%;
}

.songsContainer {
    display: flex;
    flex-direction: column;
    background-color: #101011;
    overflow-y: auto;
    overflow-x: clip;
    color: var(--myGrayFontColor);
    padding-bottom: 30px;
    position: relative;
}

.playerWrap {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60px;
    background-color: var(--myGray);
}

#dashboardHeader {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 100px;
}

@media screen and (max-width: 850px) {
    #dashboardHeader {
        justify-content: center;
    }

    .searchBar {
        width: 60%;
        position: static;
    }

    .searchBar:focus {
        width: 80%;
    }
}

@media screen and (max-width: 1023px) {
    .playerWrap {
        height: 100px;
    }
}

