.LeftSideBar {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    margin-right: auto;
    flex-grow: 0;
    padding-right: 10px;
    font-size: 0.8rem;
    color: var(--myGrayFontColor);
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    padding: 3px;
    margin-top: 50px;
    font-weight: bold;
}

.navBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    padding: 3px;
    margin-top: 15px;
    border-bottom: 0.1rem solid dimgrey;
    font-weight: bold;
    padding-bottom: 10px;
}

.navItemWrap {
    display: flex;
    align-items: center;
    padding: 5px;
}

    .navItemWrap div {
        margin-left: 10px;
    }

    .navItemWrap:hover {
        background-color: var(--myGray);
    }

.playlists {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 15px;
    height: 40%;
}

.playlist {
    padding: 5px;
}

