.LeftSideBar {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: auto;
    flex-grow: 0;
    padding-right: 10px;
    font-size: 0.8rem;
    color: var(--myGrayFontColor);
    flex-shrink: 0;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    padding: 3px;
    margin-top: 50px;
    font-weight: bold;
}

.navBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    padding: 3px;
    margin-top: 15px;
    border-bottom: 0.1rem solid dimgrey;
    font-weight: bold;
    padding-bottom: 10px;
}

.navItemWrap {
    display: flex;
    align-items: center;
    padding: 5px;
    transition: color 0.2s ease-in-out;
}

    .navItemWrap div {
        margin-left: 10px;
    }

    .navItemWrap:hover {
        color: white;
    }

.playlists {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 15px;
    height: 60%;
}

.playlist {
    display: flex;
    padding: 5px;
    cursor: default;
}

    .playlist span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .playlist:hover {
        color: white;
    }


@media screen and (max-width: 600px) {
    .LeftSideBar {
        display: none;
    }
}