.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--myGray);
}
.informationWrap {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.information {
    display: flex;
    padding: 10px;
    color: white;
}

.spotifyLogoWrap {
    display: flex;
    width: 20%;
}

.spotifyLogo {
    width: 100%;
}

.loginButton {
    background-color: var(--myGreen);
    height: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    letter-spacing: 0.2rem;
    text-align: center;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    box-shadow: 3px 3px 15px rgb(0, 0, 0, 0.9);
    margin-bottom: 50px;
}
    .loginButton span {
        text-shadow: 3px 3px 15px rgb(0, 0, 0, 0.9);
    }

    .loginButton:hover {
        transform: scale(1.1);
    }

