.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--myGray);
}

.loginButton {
    background-color: var(--myGreen);
    height: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    letter-spacing: 0.2rem;
    text-align: center;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    box-shadow: 3px 3px 15px rgb(0, 0, 0, 0.9);
}
    .loginButton span {
        text-shadow: 3px 3px 15px rgb(0, 0, 0, 0.9);
    }

    .loginButton:hover {
        transform: scale(1.1);
    }