.track {
    display: flex;
    align-items: center;
    padding: 5px 10px 5px 40px;
    height: 65px;
    width: inherit;
    background-color: rgb(25, 20, 20, 0.8);
    color: white;
}

    .track:hover {
        background-color: rgb(52, 52, 52);
    }

.track img {
    height: 64px;
    width: 64px;
    padding: 0px 10px 0px 10px;
}

.titleAndArtistWrap {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 20px;
    width: 33%;
}

    .titleAndArtistWrap div {
        
    }

.greenTitle {
    color: var(--myGreen);
}

.songNumber {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.playAndNumberWrap {
    display: flex;
    height: 10px;
    width: 10px;
    padding: 5px;
    position: relative;
    flex-shrink: 0;
}

.trackPlayArrowIcon {
    position: absolute;
    top: 0; 
    right: 5px;
}

.albumName {
    display: flex;
    min-width: 20%;
    padding: 5px;
}

.trackDuration {
    display: flex;
    margin-left: auto;
    padding-right: 5px;
    min-width: 20%;
    justify-content: center;
    flex-shrink: 0;
}

.TrackHeader {
    display: flex;
    align-items: center;
    color: white;
    padding: 5px 10px 5px 40px;
    height: 65px;
    width: inherit;
    background-color: rgb(25, 20, 20, 0.8);
    text-transform: uppercase;
    border-bottom: 0.1rem solid dimgrey;
}

.TrackHeader .titleAndArtistWrap {
    width: 40%;
}


