.track {
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 20px;
    padding: 5px 0px 5px 20px;
    height: 65px;
    border-radius: 5px;
  /*  background-color: rgb(25, 20, 20, 0.8); */
    background-color: #101011;
    width: 95%;
}

    .track:hover {
        background-color: rgb(52, 52, 52);
    }

.track img {
    height: 40px;
    width: 40px;
    padding: 0px 10px 0px 10px;
}

.titleAndArtistWrap {
    display: flex;
    flex-direction: column;
    padding: 3px 10px 3px 20px;
    width: 50%;
}

.title {
    font-weight: bold;
    color:white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.artist {
    font-size: 0.85rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title.greenTitle {
    color: var(--myGreen);
}

.songNumber {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.playAndNumberWrap {
    display: flex;
    height: 10px;
    width: 10px;
    padding: 5px;
    position: relative;
    flex-shrink: 0;
}

.trackPlayArrowIcon {
    position: absolute;
    top: 0; 
    right: 5px;
}

.albumName {
    display: flex;
    padding: 5px;
    flex-shrink: 0;
    width: 25%;
}

    .albumName span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.rightSideTrackWrapper {
    display: flex;
    width: 25%; 
    justify-content: flex-end;
    flex-shrink: 0;
}

    .rightSideTrackWrapper span {
        display: block;
    }

    .rightSideIcon {
        visibility: hidden;
        padding: 0px 1.3rem 0px 1.3rem;
    }

    .rightSideIcon:hover {
        color: white;
    }

.rightSideIcon.likedSong {
    color: var(--myGreen);
}

.open {
    visibility: visible;
}

.TrackHeader {
    display: flex;
    align-items: center;
    padding: 5px 30px 5px 40px;
    height: 65px;
    width: 95%;
    background-color: #101011;
    text-transform: uppercase;
    border-bottom: 0.1rem solid dimgrey;
}

.TrackHeader .titleAndArtistWrap {
    width: 50%;
}


@media screen and (max-width: 1050px) {

    .albumName {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .track img {
        display: none;
    }
}



