.yourLibrary {
    display: flex;
    /*background-color: #0E0E0E;*/
    overflow-y: auto;
    overflow-x: clip;
    color: var(--myGrayFontColor);
    height: 100%;
    width: 100%;
}

.likedSongsPreview {
    display: flex;
    margin: 10px;
    width: 420px;
    height: 267px;
    background-color: #101011;
    border-radius: 5px;
}

    .likedSongsPreview span {
        padding: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.playlistsPreviewContainer {
    display: flex;
    flex-wrap: wrap;
}

/* 
    hex colors from darkest to lightest
    #070707
    #101011
    #1a1a1b
    #242425
    #2d2d2f
*/
.playlistPreview {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #101011;
    width: 200px;
    height: 267px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

    .playlistPreview span {
        padding: 5px 10px 0px 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .playlistPreview:hover {
        background-color: #242425;
    }

.playlistName {
    color: white;
    font-weight: bold;
}
.playlistCaption {
    font-size: 0.8rem;
}

.imgWrap {
    display: flex;
    position: relative;
    padding: 10px;
    justify-content: center;
    width: 90%;
    align-self: center;
}

.playlistImage {
    width: inherit;
    border-radius: 3px;
    box-shadow: 3px 3px 15px rgb(0, 0, 0, 0.9);
}

.playIconWrap {
    background-color: black;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 2.2rem 1.3rem 0;
    transform: translateY(10%);
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.9);
}
.playCircleIcon {
    transform: scale(2);
    color: var(--myGreen);
    cursor: default;
}

.playCircleIcon:hover {
    transform: scale(2.1);
}

.playlistPreview:hover .playIconWrap {
    opacity: 1;
    transform: translateY(0); 
}



