:root {
    --myGreen: rgb(30, 215, 96);
    --myBlack: rgb(25, 20, 20);
    --myGray: rgb(40, 40, 43);
    --myGrayFontColor: #d0d0d0;
}

.App {
    text-align: center;
    font-family: Helvetica, sans-serif;
    
}


/* custom scrollbar */

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(25, 20, 20, 0.8);
    
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    ::-webkit-scrollbar-thumb:active {
        background: #6a6a6a;
    }
